@import "./calculator-reset.css";


.calculator {
    background-color: #3b4454;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255 255 255 / 0.1), 5px 5px 15px rgba(0 0 0 / 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    /* box-shadow: none; */
}

form input.equal {
    width: 145px;
}

form input.display3 {
    width: 310px;
    text-align: right;
    flex: 1;
    font-size: 45px;
}

.num-inputs input:hover  {
    background-color: #333b48;
}

form input.equal, form input.operation, form input.dot, form input.AC, form input.DE {
    color: #63ddd5;
}